.form{
   width: 50%;
  background-color: wheat;
   margin:1rem auto;
   display: flex;
   flex-direction: column;
   max-width: 400px;
}
.form input,
.form label,
.form button{
display: block;
margin:1rem

}